{{#each nameRole}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body"> 
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{name}} <i></i>
                </h4>
                <p>Email: {{email}}</p>
                <p>Rol: {{roles}}</p>
            </div>
        </div>
    </div>
{{/each}}