<div class="wrapper">
    <div class="body">
        <h1>Recuperar</h1>
        <form action="/products/add">
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" placeholder="name@example.com" required>
                <label>Email</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Recuperar</button>
            </div>
            <a href="/">Volver</a>
        </form>
    </div>
</div>