<div class="wrapper">
    <div class="body">
        <h1>Registrarse</h1>
        <form action="/auth/signup" method="post">
            <div class="form-floating mb-3">
                <input type="name" name="name" class="form-control" placeholder="name@example.com" required>
                <label>Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" placeholder="name@example.com" required>
                <label>Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <label>Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="confirm_password" class="form-control" placeholder="Password" required>
                <label>Confirm Password</label>
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            </div>  
            <div class="d-flex justify-content-center mt-2">
                <a href="/">Volver</a>
            </div>      
        </form>
    </div>
</div>